#about-container {
     p{
          margin: 20px auto;
          background-color: $black-rgba;
          padding: 10px;
          border-radius: $border-radius;
     }
     img{
          width: 100%;
          border-radius: $border-radius;
     }
}
