@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    box-shadow: $property;
  }
  @mixin gradient($property, $property-2) {
     -webkit-linear-gradient: $property,  $property-2;
     -o-linear-gradient: $property, $property-2;
    background: linear-gradient($property, $property-2);
  }
  @mixin hover-gradient($p1, $p2, $p3, $p4) {
    -webkit-linear-gradient:$p1, $p2, $p3, $p4;
    -o-linear-gradient:$p1, $p2, $p3, $p4;
     background-image: linear-gradient($p1, $p2, $p3, $p4);
 }
 @mixin flex($property) {
     -webkit-box: $property;
     -ms-flexbox: $property;
     display: $property;
 }

 $screen-4: 1000px;

 @mixin screen-4 {
   @media (min-width: #{$screen-4}) {
     @content;
   }
 }

 $desktop-b: 840px;

 @mixin desktop-b {
   @media (min-width: #{$desktop-b}) {
     @content;
   }
 }

 $desktop: 800px;

 @mixin desktop {
   @media (min-width: #{$desktop}) {
     @content;
   }
 }

 $screen-3: 780px;

 @mixin screen-3 {
   @media (min-width: #{$screen-3}) {
     @content;
   }
 }

 $screen-2: 580px;

 @mixin screen-2 {
   @media (min-width: #{$screen-2}) {
     @content;
   }
 }



 